## Working in the codebase

- You will use dependencies in the code you write. Use the `llm-docs.txt` file to find what files to read from `llm-docs/` to understand how to use the dependencies with up to date instructions. DO NOT SKIP THIS STEP, IT IS CRUCIAL.
- ALWAYS read the documentation from `./llm-docs/` depending on what package or concept you are using to understand how to use it. NEVER write things into that folder.
- Every time you read it, if you need to, update the `llm-docs.txt` file with what you have learned about the folder structure. That way you can check that file first to know where to look next.

- This project is using pnpm (not npm), always use `pnpm commands` to add dependencies.

## Vocabulary

- MCP: Model Context Protocol
- SDK: Software Development Kit